# OpenMETA project stuff
*.log
*.mga
CyPhy2CAD.log
archive/
config/
config.pro
dashboard/
design-space/
designs/
export_for_dashboard_scoring.py
_FAILED.txt
index.html
log/
merged/
requirements/
results/
stats/
test-benches/
tmp/
CADCreoParametricCreateAssembly_err.log
components/**/trail.txt.*
components/**/*.acm
components/**/_FAILED.txt
components/**/std.out
components/**/std.err
components/**/config.pro
manifest.project.json
MetaLink_*/
/parts/
std.out
trail.txt.*
/*.asm
*.acm

# Python
*.pyc
