config/
dashboard/
design-space/
designs/
export_for_dashboard_scoring.py
index.html
log/
requirements/
results/
stats/
test-benches/
*.mga
Metalink_*/
*.log
trail.txt.*
/*.asm
config.pro
std.out
/parts/
*.acm
*.pyc
manifest.project.json
